.header  {
    background-image: url("../img/assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 200%;
}
#open-menu, #close-menu {
  position: absolute;
  font-size: 100%;
}
#open-menu {
  left: 5%;
}
#close-menu{
  left: 20%;
  color: white;
}
aside {
  display: flex;
  justify-content:flex-start;
  align-items: baseline;
  height: 100%;
  width: 100%;
  z-index:100;
  position: absolute;
  left: -100%;
  background-image: url("../img/assets/foodtop/dinner.jpg");
}
#the-menu{
  list-style: none;
}
#the-menu li{
  padding: 5%;
  font-size: 30%;
  text-transform: uppercase;
}
#the-menu a{
  color: white;
}
#party-time{
  width: 100%;
  background-color: #F15A29;
  margin-top: 20%;
  
}
.active{
  background-image: url("../img/assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 45vh;
  width: 100%;
}
#subscribe{
  background-image: url("../img/assets/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40vh;
  width:100vw;
  font-size: 40px;
  color: white;
  text-align: center;
}
#footer{
  background-color: #F15A29;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  width: 100vw;
  font-size: 20px;
  color: white;
  text-align: center;
}
#the-menu{
  list-style: none;
}
#the-menu li{
  padding: 15%;
  font-size: 100%;
  text-transform: uppercase;
}
#the-menu a{
  color: white;
}
