.header  {
    background-image: url("../img/assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top center;
    height: 100vh;
    width: 100vw;
    font-size: 30px;
    font-style: italic;
    color: white;
}
.active{
  background-image: url("../img/assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 45vh;
  width: 100vw;
}
#subscribe{
  background-image: url("../img/assets/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40vh;
  width:100vw;
  font-size: 40px;
  color: white;
  text-align: center;
}
#footer{
  background-color: #F15A29;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  width: 100vw;
  font-size: 20px;
  color: white;
  text-align: center;
}
